{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home - MMM</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style2.css' %}" rel="stylesheet">
  <style>
    .menubtn {
      background-color: DodgerBlue;
      border: none;
      color: white;
      padding: 12px 25px;
      cursor: pointer;
      font-size: 18px;
    }
    
    /* Darker background on mouse-over */
    .menubtn:hover {
      background-color: RoyalBlue;
    }
  </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <img src="{% static 'assets/img/kgplogo.png' %}" class="halllogo" style="width:5%; height:5%;">
      <div class="logo me-auto">
        <h1><a href="{% url 'mmm:home' %}">MMM Hall Of Residence</a></h1>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link scrollto" href="#about">About Hall</a></li>
              <li><a class="nav-link scrollto" href="#council">Hall Council</a></li>
              <li><a class="nav-link scrollto" href="#wardens">Wardens</a></li>

            </ul>
          </li>
          <li><a class="nav-link scrollto " href="#notice">Notice</a></li>
          <li><a class="nav-link scrollto" href="#Menu">Mess Menu</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex align-items-center">
        <a href="https://wiki.metakgp.org/w/Madan_Mohan_Malviya_Hall_of_Residence" class="book"><i class="bi bi-book"></i></a>
        <a href="https://www.facebook.com/mmmiitkgp" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/mmmiitkgp/" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Pt. Madan Mohan Malaviya</h1>
      <!-- <p>I'm <span class="typed" data-typed-items="Feeling, Life, Love, Home"></span></p>
       -->
       <p style="font-size:30px" class="motto"> तस्मादुत्तिष्ठ कौन्तेय युद्धाय कृतनिश्चय:</p>
       <p style="font-size:20px; margin-top:0px;" class="motto"><i>Bhagavad Gita: Chapter 2, Verse 37</i></p>
      <div class="social-links">
        <a href="https://wiki.metakgp.org/w/Madan_Mohan_Malviya_Hall_of_Residence" class="book"><i class="bx bx-book-open"></i></a>
        <a href="https://www.facebook.com/mmmiitkgp" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/mmmiitkgp/" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->


  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex flex-column justify-contents-center" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0 text-center">
              <h3>About Hall</h3>
              <p >
                Pandit Madan Mohan Malaviya Hall Of Residence is the second largest Hall Of Residence in IIT Kharagpur.
                It was founded on 26th February, 2005. There are four blocks - SDS, RR, DSK and HK blocks. It resides students across diverse fields that include UG, PG, MBA and Law.

              </p>
  
              <p>
                
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    
    <!-- ======= Notice Board Section ======= -->
    <section id="notice" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Notice Board</h2>
          <p>
          MMM offers a lot of sports and welfare events. Heres the list of the upcoming events.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-Sports">Sports</li>
              <li data-filter=".filter-Socult">Socult</li>
              <li data-filter=".filter-Tech">Technology</li>
              <li data-filter=".filter-Welfare">Welfare</li>
              <li data-filter=".filter-Others">Others</li>

            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          {% for notice in notices %}
          {% if notice.category == "Sports" %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-Sports">
            <div class="portfolio-wrap">
              <img src="{{notice.image.url}}" class="img-fluid noticeimg" alt="">
              <div class="portfolio-info">
                <h4>{{notice.name}}</h4>
                <p>Sports</p>
              </div>
              <div class="portfolio-links">
                <a href="{{notice.image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{notice.name}}"><i class="bx bx-plus"></i></a>
                <a href="{% url 'mmm:notice_detail' notice.id %}" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}

            {% for notice in notices %}
            {% if notice.category == "Socult" %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-Socult">
              <div class="portfolio-wrap">
                <img src="{{notice.image.url}}" class="img-fluid noticeimg" alt="">
                <div class="portfolio-info">
                  <h4>{{notice.name}}</h4>
                  <p>Socult</p>
                </div>
                <div class="portfolio-links">
                  <a href="{{notice.image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{notice.name}}"><i class="bx bx-plus"></i></a>
                  <a href="{% url 'mmm:notice_detail' notice.id %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}

              {% for notice in notices %}
              {% if notice.category == "Technology" %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-Tech">
                <div class="portfolio-wrap">
                  <img src="{{notice.image.url}}" class="img-fluid noticeimg" alt="">
                  <div class="portfolio-info">
                    <h4>{{notice.name}}</h4>
                    <p>Tech</p>
                  </div>
                  <div class="portfolio-links">
                    <a href="{{notice.image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{notice.name}}"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'mmm:notice_detail' notice.id %}" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}

              {% for notice in notices %}
              {% if notice.category == "Welfare" %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-Welfare">
                <div class="portfolio-wrap">
                  <img src="{{notice.image.url}}" class="img-fluid noticeimg" alt="">
                  <div class="portfolio-info">
                    <h4>{{notice.name}}</h4>
                    <p>Welfare</p>
                  </div>
                  <div class="portfolio-links">
                    <a href="{{notice.image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{notice.name}}"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'mmm:notice_detail' notice.id %}" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}

              {% for notice in notices %}
              {% if notice.category == "Others" %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-Others">
                <div class="portfolio-wrap">
                  <img src="{{notice.image.url}}" class="img-fluid noticeimg" alt="">
                  <div class="portfolio-info">
                    <h4>{{notice.name}}</h4>
                    <p>Others</p>
                  </div>
                  <div class="portfolio-links">
                    <a href="{{notice.image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{notice.name}}"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'mmm:notice_detail' notice.id %}" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            

        
      </div>
      </div>
    </section><!-- End Notice Section -->

   <!-- ======= Wardens Section ======= -->
   <section id="wardens" class="services section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Wardens</h2>
        <p>MMM hall comprises of a warden and three assistant wardens.</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
          <div class="icon-box icon-box-pink">
            <img src="{% static 'assets/img/Wardens/sanjib.jpg' %}" style="display:block; margin-left:auto; margin-right:auto; width:100%; height:270px"><bR>
            <h4 class="title"><a href="">Prof. Sanjib Kumar Patra</a></h4>
            <p class="description">Department of Chemistry <br> 
            Warden </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box icon-box-cyan">
            <img src="{% static 'assets/img/Wardens/trilok.jpg' %}" style="display:block; margin-left:auto; margin-right:auto; width:100%; height:270px"><bR>

            <h4 class="title"><a href="">Prof. Trilok Singh</a></h4>
            <p class="description">School of Energy Science and Engineering<br> Assistant Warden</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box icon-box-green">
            <img src="{% static 'assets/img/Wardens/abhay2.jpeg' %}" style="display:block; margin-left:auto; margin-right:auto; width:100%; height:270px"><bR>

            <h4 class="title"><a href="">Prof. Abhay Singh Gour</a></h4>
            <p class="description">Center of Cryogenic Engineering <br> Assistant Warden</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box icon-box-blue">
            <img src="{% static 'assets/img/Wardens/kaushal2.jpeg' %}" style="display:block; margin-left:auto; margin-right:auto; width:100%; height:270px"><bR>

            <h4 class="title"><a href="">Prof. Kaushal Kumar Bhagat</a></h4>
            <p class="description">Center For Education Technology <Br> Assistant Warden</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Wardens Section -->

    <!-- ======= Council Section ======= -->
    <section id="council" class="features councilcontainer">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item" data-aos="fade-up">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1" onclick="clickCouncil()">
                  <h4>Mr. Abhijeet Kumar</h4>
                  <p>Hall President</p>
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2" onclick="clickCouncil()">
                  <h4>Mr. Alok Kumar</h4>
                  <p>Second Senate Member</p>
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3" onclick="clickCouncil()">
                  <h4>Mr. Pranav Gore</h4>
                  <p>General Secretary Sports and Games</p>
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="300">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4" onclick="clickCouncil()">
                  <h4>Mr. Piyush Dhamane</h4>
                  <p>General Secretary Technology</p>
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="400">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5" onclick="clickCouncil()">
                  <h4>Mr. Vinod Sharma</h4>
                  <p>General Secretary Social and Cultural</p>
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="500">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-6" onclick="clickCouncil()">
                  <h4>Mr. Satyam Jha</h4>
                  <p>General Secretary Alumni Affairs</p>
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="600">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-7" onclick="clickCouncil()">
                  <h4>Mr. Thaneshwar Chakrawati</h4>
                  <p>General Secretary Student's Welfare</p>
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="700">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-8" onclick="clickCouncil()">
                  <h4>Mr. Naman Sultania</h4>
                  <p>General Secretary Maintenance</p>
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="800">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-9" onclick="clickCouncil()">
                  <h4>Mr. Anuj Swarnkar</h4>
                  <p>General Secretary Mess</p>
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="900">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-10" onclick="clickCouncil()">
                  <h4>Mr. Apoorv Bansal</h4>
                  <p>Joint Secretary Mess</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <figure>
                  <img src="{% static 'assets/img/Hall Council/abhijeet2.JPG' %}" alt="" class="img-fluid" style="">
                </figure>
              </div>
              <div class="tab-pane" id="tab-2">
                <figure>
                  <img src="{% static 'assets/img/Hall Council/alok2.jpg' %}" alt="" class="img-fluid" style="">
                </figure>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                  <img src="{% static 'assets/img/Hall Council/pranav.jpg' %}" alt="" class="img-fluid" style="">
                </figure>
              </div>
              <div class="tab-pane" id="tab-4">
                <figure>
                  <img src="{% static 'assets/img/Hall Council/piyush2.jpg' %}" alt="" class="img-fluid" style="">
                </figure>
              </div>
              <div class="tab-pane" id="tab-5">
                <figure>
                  <img src="{% static 'assets/img/Hall Council/vinod.jpg' %}" alt="" class="img-fluid" style="">
                </figure>
              </div>
              <div class="tab-pane" id="tab-6">
                <figure>
                  <img src="{% static 'assets/img/Hall Council/Satyam.jpeg' %}" alt="" class="img-fluid" style="">
                </figure>
              </div>
              <div class="tab-pane" id="tab-7">
                <figure>
                  <img src="{% static 'assets/img/Hall Council/Thaneshwar.jpg' %}" alt="" class="img-fluid" style="">
                </figure>
              </div>
              <div class="tab-pane" id="tab-8">
                <figure>
                  <img src="{% static 'assets/img/Hall Council/naman2.jpeg' %}" alt="" class="img-fluid" style="">
                </figure>
              </div>
              <div class="tab-pane" id="tab-9">
                <figure>
                  <img src="{% static 'assets/img/Hall Council/anuj.jpg' %}" alt="" class="img-fluid" style="">
                </figure>
              </div>
              <div class="tab-pane" id="tab-10">
                <figure>
                  <img src="{% static 'assets/img/Hall Council/apoorv.jpg' %}" alt="" class="img-fluid" style="">
                </figure>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Council Section -->

 
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-in" style="text-align:center; margin:auto">
          <div class="col-lg-12 " style="text-align:center; margin:auto">
            <!-- <h3>MMM Motto</h3> -->
            <!-- <p style="font-size:larger "> तस्मादुत्तिष्ठ कौन्तेय युद्धाय कृतनिश्चय:</p> -->
            <!-- tasmād uttiṣhṭha kaunteya yuddhāya kṛita-niśhchayaḥ. -->
          </div>
          <!-- <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div> -->
        </div>

      </div>
    </section>
    <!-- End Cta Section -->

    <!-- ======= Mess Menu Section ======= -->
    <section id="Menu" class="Menu">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Mess Menu</h2>
        </div>
        <!-- <table class="table table-bordered text-center" border="3">
          <thead class="thead-dark">
            <tr>
              <th class="text-center">DAYS</th>
              <th colspan="2" class="text-center">BREAKFAST</th>
              <th colspan="2" class="text-center">LUNCH</th>
              <th class="text-center">SNACKS</th>
              <th colspan="2" class="text-center">DINNER</th>

            </tr>
          </thead>
          <tr>
            <td align="center">

            </td>
            <td colspan="2"align="center">
              BASIC-BANANA 1PC,TEA
            </td>
            <td colspan="2" align="center">
              2TYPE RICE,DAL&SAMBAR,PICKLE,SALAD
            </td>
            <td align="center">
              TEA/COFFEE
            </td>
            <td colspan="2" align="center">
              2TYPE RICE,DAL&SAMBAR,PICKLE,SALAD
            </td>            
          </tr>
          <tr >
            <td rowspan="2" align="center">MONDAY</td>
            <td rowspan="2" align="center">IDLY 4PIC + CHATNI+SAMBAR</td>
            <td rowspan="2" align="center">MILK 150ML BREAD, BUTTER/JAM CORNFLEX</td>
            <td colspan="2" align="center">B. RICE, R. RICE,SAMBAR,SALAD,ROTI,PICKLE,PALAK DAL</td>
            <td rowspan="2" align="center">ONION POKODA, TEA</td>
            <td rowspan="2" colspan="2" align="center">MIXVEG CURRY, SALAD,PICKLE,ROTI,RICEkHEER/SEWAI KHEER, CHANNA DAL, TOMATO RICE</td>           
          </tr>
          <tr >
            <td align="center">ALU GREEN PEACE</td>
            <td align="center">FISH CURRY 1PC 50GRM</td>
          </tr>
          <tr >
            <td rowspan="2" align="center">TUESDAY</td>
            <td rowspan="2" align="center">METHIONION PARATHA + ALU MOTTOR SABJI</td>
            <td rowspan="2" align="center">BREAD, BUTTER/JAM, EGG 1PC OR MILK 150ML</td>
            <td colspan="2" align="center">B. RICE, R. RICE,SAMBAR,SALAD,ROTI,PICKLE,KADI PAKORA + DAL</td>
            <td rowspan="2" align="center">PAW 3PIC + BHAJI, TEA</td>
            <td rowspan="2" colspan="2" align="center">B. RICE, R RICE, SAMBAR, SALAD,PURI 5PC + ALOO GREEN HARD MOTTOR + DAL NO ROTI</td>           
          </tr>
          <tr >
            <td align="center">LAUKI CHANNADAL</td>
            <td align="center">EGG (1PC)</td>
          </tr>
          <tr >
            <td rowspan="2" align="center">WEDNESDAY</td>
            <td rowspan="2" align="center">UTTAPAM(2 PC), SAMBAR, CHUTNI</td>
            <td rowspan="2" align="center">MILK 150ML BREAD, BUTTER/JAM CORNFLEX</td>
            <td rowspan="2" colspan="2" align="center">B. RICE, R. RICE,SAMBAR,SALAD,ROTI,PICKLE,ALUGOBI CURRY, BOONDI RAITA + DAL</td>
            <td rowspan="2" align="center">VEG PATTIES 1PC, TEA</td>
            <td colspan="2" align="center">B. RICE, R RICE, SAMBAR, SALAD, ROTI, PICKLE + DAL</td>           
          </tr>
          <tr >
            <td align="center">MOTTOR PANEER/PALAK PANEER (50 GM)</td>
            <td align="center">CHICKEN CURRY (125 GM) 3PC</td>
          </tr>
          <tr >
            <td rowspan="2" align="center">THURSDAY</td>
            <td rowspan="2" align="center">POHA + CHATNI + BHUJIA</td>
            <td rowspan="2" align="center">BREAD, BUTTER/JAM, EGG 1PC OR MILK 150ML</td>
            <td rowspan="2" colspan="2" align="center">B. RICE, R. RICE,SAMBAR,SALAD,ROTI,PICKLE,KABALI CHANA MASALA + CURD(100 GM), DAL</td>
            <td rowspan="2" align="center">DAHI VADA 2PC + SWEET CHATNI, TEA</td>
            <td colspan="2" align="center">DAL MAKHANI, ROTI, SALAD, VEG PULAO, SWEET 1PC (ROSOGULLA/GULABJAMUN)</td>           
          </tr>
          <tr >
            <td colspan="2" align="center">PULAO</td>
          </tr>
          <tr >
            <td rowspan="2" align="center">FRIDAY</td>
            <td rowspan="2" align="center">VEG SANDWITCH (2PC) + SWEET SOUCDE/ TOMATO SOUCE</td>
            <td rowspan="2" align="center">BREAD OMLET 1PC + SWEET SOUCDE/ TOMATO SOUCE</td>
            <td colspan="2" align="center">B. RICE, R. RICE,SAMBAR,SALAD,ROTI,PICKLEDAL,DRY SOYABEAN CURRY</td>
            <td rowspan="2" align="center">VEG CHOWMIN, TEA</td>
            <td colspan="2" align="center">FRIED RICE, DAL, ROTI</td>           
          </tr>
          <tr >
            <td align="center">RAJMA CURRY</td>
            <td align="center">FISH FRY 1PC 50GM</td>
            <td align="center">KADAI PANEER 50GM</td>
            <td align="center">KADAI CHICKEN 125GM</td>
          </tr>
          <tr >
            <td rowspan="2" align="center">SATURDAY</td>
            <td rowspan="2" align="center">CHOLA BHATURA 2PC + SABJI</td>
            <td rowspan="2" align="center">MILK 150ML BREAD, BUTTER/JAM CORNFLEX</td>
            <td colspan="2" align="center">B. RICE, R. RICE,SAMBAR,SALAD,ROTI,PICKLEDAL, RED PUMPKIN WITH BLACK CHANNA + CURD (100 GM)+ DAL</td>
            <td rowspan="2" align="center">BREAD VEG BHUJIYA, TEA</td>
            <td rowspan="2" colspan="2" align="center">JEERA RICE + CHANNA DAL/ KICHADI + PAPAD</td>           
          </tr>
          <tr >
            <td align="center">ALU GREEN PEACE</td>
            <td align="center">FISH CURRY 1PC 50GRM</td>
          </tr>
          <tr >
            <td rowspan="2" align="center">SUNDAY</td>
            <td rowspan="2" align="center">MASALA DOSA (1 PC) + CHATNI+SAMBAR</td>
            <td rowspan="2" align="center">BREAD, BUTTER/JAM, EGG 1PC OR MILK 150ML</td>
            <td colspan="2" align="center">RAITA</td>
            <td rowspan="2" align="center">SAMOSA 2PC + DHANIYA + PUDHINA CHATNI, COFFEE</td>
            <td colspan="2" align="center">SALAD,PICKLE,ROTI, LEMON RICE, ALOO CHOKA</td>           
          </tr>
          <tr >
            <td align="center">VEG BRIYANI PANEER MATAR MASALA </td>
            <td align="center">EGG CURRY (1PC)</td>
            <td align="center">VEG KOFTA 2PC CURRY</td>
            <td align="center">EGG CURRY (1PC)</td>
          </tr>
        </table> -->
        <div class="row">

          <div class="col-lg-12 col-md-12">
            <div class="member" data-aos="zoom-in">
              <div class="pic"><img src="{% static 'assets/img/Mess Menu March 2.jpg' %}" class="img-fluid" alt="" style="margin-top:-50px"></div>
              <div class="member-info">
                <h4>March Edition</h4>
                <span><a href="{% static 'assets/img/Mess Menu March 2.jpg' %}" download><button class="menubtn"><i class="bi bi-file-earmark-arrow-down"></i> Download</button>
                </a></span>
                <!-- <div class="social">
                  <a href=""><i class="bi bi-book"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ===== End Mess Menu Section ===== -->

  
    <!-- ======= Team Section ======= -->
    <!-- <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in">
              <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href=""><i class="bi bi-book"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href=""><i class="bi bi-book"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <div class="social">
                  <a href=""><i class="bi bi-book"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Team Section -->

    <!-- ======= Clients Section ======= -->
    <!-- <section id="clients" class="clients">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Clients</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo" data-aos="zoom-in">
              <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo" data-aos="zoom-in" data-aos-delay="100">
              <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo" data-aos="zoom-in" data-aos-delay="150">
              <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo" data-aos="zoom-in" data-aos-delay="200">
              <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo" data-aos="zoom-in" data-aos-delay="250">
              <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo" data-aos="zoom-in" data-aos-delay="300">
              <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
              <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="client-logo">
              <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Clients Section -->

    <!-- ======= Pricing Section ======= -->
    <!-- <section id="pricing" class="pricing section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Pricing</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="box" data-aos="zoom-in">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <!-- <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section> -->
    <!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>IIT Kharagpur, Kharagpur 721302</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>mmmhall@iitkgp.ac.in</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 32222 81240</p>
              </div>

              <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
              <!-- <div class="mapouter"><div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=MMM%20Hall%20&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://123movies-to.org">123movies</a>
                <br><style>.mapouter{position:relative;text-align:right;height:290px;width:100%;}

              </style>
              <a href="https://www.embedgooglemap.net">embedding google maps into website</a>
              <style>.gmap_canvas {overflow:hidden;background:none!important;height:290px;width:100%;}</style></div></div>
               -->
              <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="290" id="gmap_canvas" src="https://maps.google.com/maps?q=MMM%20Hall%20&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              <br><style>.mapouter{position:relative;text-align:right;height:290px;width:100%;}</style><a href="https://www.embedgooglemap.net">embedding google maps into website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:290px;width:100%;}</style></div></div>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
            <form action="{% url 'mmm:complaint_form' %}" method="post" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <h3 align="center" style="margin-bottom:30px">Complaint Form</h3><br>
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <!-- <div class="error-message"></div> -->
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>MMM Hall </h3>
              <p>
                IIT Kharagpur <br>
                721302, India<br><br>
                <strong>Phone:</strong> +91 32222 81240<br>
                <strong>Email:</strong> mmmhall@iitkgp.ac.in<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://wiki.metakgp.org/w/Madan_Mohan_Malviya_Hall_of_Residence" class="book"><i class="bx bx-book-open"></i></a>
                <a href="https://www.facebook.com/mmmiitkgp" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/mmmiitkgp/" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About Hall</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#notice">Notice Board</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#Menu">Menu</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact and Complaint</a></li>
            </ul>
          </div>

        

          <div class="col-lg-5 col-md-6 footer-newsletter">
            <!-- <h4>Our Newsletter</h4>
            <p>Subscribe to our monthly newsletter and know about all our hall activites.</p>
            <form action="" method="post"> 
              {% csrf_token %}
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form> -->

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span></span></strong>. All Rights Reserved
      </div>
      <div class="credits">
    Designed by <a href="https://www.linkedin.com/in/nabhya-khoria-30a601218/" target="blank">Nabhya Khoria</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <!-- <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script> -->
  <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main2.js' %}"></script>
  <script>
    function clickCouncil() {
        document.getElementsByClassName('councilcontainer')[0].scrollIntoView();
      // will scroll to 4th h3 element
    }
  </script>

</body>

</html>